## Deliverable 2. Create a Customer Travel Destinations Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [30]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('WeatherPy_Database.csv')
city_data_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tautira,PF,2022-07-19 02:30:03,-17.7333,-149.1500,76.30,71,16,3.06,light rain
1,1,Finnsnes,NO,2022-07-19 02:30:04,69.2296,17.9811,51.76,84,99,1.16,overcast clouds
2,2,Hualmay,PE,2022-07-19 02:30:04,-11.0964,-77.6139,61.45,85,100,10.18,overcast clouds
3,3,Mar Del Plata,AR,2022-07-19 02:30:05,-38.0023,-57.5575,42.87,85,0,4.00,clear sky
4,4,Hobart,AU,2022-07-19 02:26:14,-42.8794,147.3294,49.26,74,75,8.05,broken clouds

In [32]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [40]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

desired_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  (city_data_df["Max Temp"] >= min_temp)]
desired_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Finnsnes,NO,2022-07-19 02:30:04,69.2296,17.9811,51.76,84,99,1.16,overcast clouds
2,2,Hualmay,PE,2022-07-19 02:30:04,-11.0964,-77.6139,61.45,85,100,10.18,overcast clouds
5,5,Yellowknife,CA,2022-07-19 02:30:05,62.4560,-114.3525,70.32,60,75,4.61,broken clouds
8,8,Hofn,IS,2022-07-19 02:27:27,64.2539,-15.2082,50.54,84,100,9.82,overcast clouds
9,9,Ahipara,NZ,2022-07-19 02:30:07,-35.1667,173.1667,63.05,81,89,8.55,light rain

In [41]:
# 4a. Determine if there are any empty rows.
desired_cities_df.count()

Unnamed: 0             351
City                   351
Country                347
Date                   351
Lat                    351
Lng                    351
Max Temp               351
Humidity               351
Cloudiness             351
Wind Speed             351
Current Description    351
dtype: int64

In [42]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
desired_cities_df.dropna()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Finnsnes,NO,2022-07-19 02:30:04,69.2296,17.9811,51.76,84,99,1.16,overcast clouds
2,2,Hualmay,PE,2022-07-19 02:30:04,-11.0964,-77.6139,61.45,85,100,10.18,overcast clouds
5,5,Yellowknife,CA,2022-07-19 02:30:05,62.4560,-114.3525,70.32,60,75,4.61,broken clouds
8,8,Hofn,IS,2022-07-19 02:27:27,64.2539,-15.2082,50.54,84,100,9.82,overcast clouds
9,9,Ahipara,NZ,2022-07-19 02:30:07,-35.1667,173.1667,63.05,81,89,8.55,light rain
...,...,...,...,...,...,...,...,...,...,...,...
666,666,Camana,PE,2022-07-19 02:48:08,-16.6228,-72.7111,61.57,81,100,8.70,overcast clouds
670,670,North Bend,US,2022-07-19 02:48:01,43.4065,-124.2243,72.25,85,0,26.46,clear sky
671,671,Imeni Poliny Osipenko,RU,2022-07-19 02:48:10,52.4201,136.4853,55.96,97,100,13.02,light rain
673,673,Tonj,SS,2022-07-19 02:48:10,7.2737,28.6822,68.81,98,94,3.27,overcast clouds
674,674,Dubbo,AU,2022-07-19 02:48:11,-32.2500,148.6167,53.73,54,100,13.80,overcast clouds

In [44]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = desired_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Finnsnes,NO,51.76,overcast clouds,69.2296,17.9811,
2,Hualmay,PE,61.45,overcast clouds,-11.0964,-77.6139,
5,Yellowknife,CA,70.32,broken clouds,62.4560,-114.3525,
8,Hofn,IS,50.54,overcast clouds,64.2539,-15.2082,
9,Ahipara,NZ,63.05,light rain,-35.1667,173.1667,
10,Ketchikan,US,57.67,overcast clouds,55.3422,-131.6461,
11,Lifford,IE,63.70,overcast clouds,54.8319,-7.4836,
14,East London,ZA,67.86,clear sky,-33.0153,27.9116,
15,Fougamou,GA,70.23,overcast clouds,-1.2154,10.5838,
18,Muros,ES,66.09,clear sky,42.7762,-9.0603,

In [47]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Finnsnes,NO,51.76,overcast clouds,69.2296,17.9811,Finnsnes Hotel - A SNR Hotel
2,Hualmay,PE,61.45,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
5,Yellowknife,CA,70.32,broken clouds,62.4560,-114.3525,The Explorer Hotel
8,Hofn,IS,50.54,overcast clouds,64.2539,-15.2082,Hótel Höfn
9,Ahipara,NZ,63.05,light rain,-35.1667,173.1667,Ahipara Holiday Park

In [48]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Finnsnes,NO,51.76,overcast clouds,69.2296,17.9811,Finnsnes Hotel - A SNR Hotel
2,Hualmay,PE,61.45,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
5,Yellowknife,CA,70.32,broken clouds,62.4560,-114.3525,The Explorer Hotel
8,Hofn,IS,50.54,overcast clouds,64.2539,-15.2082,Hótel Höfn
9,Ahipara,NZ,63.05,light rain,-35.1667,173.1667,Ahipara Holiday Park

In [57]:
# 8a. Create the output File (CSV)
output = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv "WeatherPy_vacation.csv"
hotel_df.to_csv(output, index_label="City_ID")

In [61]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))